h1 {
	color: goldenrod;
	font-size: 70px;
	text-align: center;
	text-decoration: underline;
	border: darkgoldenrod 2px solid;
}

img {
	height: 200px;
	width: 200px;
}

.block_produit {
	width: 200px;
	display: inline-block;
	border: 2px solid darkgray;
	margin-left: 10px;
	margin-top: 10px;
}

.description {
	font-size: 30px;
	text-align: center;
	color: darkgoldenrod;
	border: 1px solid antiquewhite;
	background-color: gold;
}

#conteneur {
	background: blanchedalmond;
	width: 900px;
	margin: auto;
}

.prix {
	position: absolute;
	width: 200px;
}

label {
	float: right;
	font-size: x-large;
	font-weight: bold;
	color: goldenrod;
}