@charset "UTF-8";


img{
	height: 350px;
	width: 300px;
}
#conteneur{
    background: blanchedalmond;
    width: 900px;
    margin: auto;
}

h1{
    color: goldenrod;
    font-size: 70px;
    text-align: center;
    text-decoration: underline;
    border: darkgoldenrod 2px solid;
    